BOT_TOKEN=          # токен от @BotFather
MY_TELEGRAM_ID=     # числовой Telegram ID (от @userinfobot)
HH_CLIENT_ID=       # от dev.hh.ru
HH_CLIENT_SECRET=   # от dev.hh.ru
TG_API_ID=          # от my.telegram.org
TG_API_HASH=        # от my.telegram.org
